@import "../variables.less";

.additional {
  margin-left: 6.25vw;
  margin-right: 6.25vw;
  margin-bottom: 35px;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 3.91vw;
    margin-right: 1.6vw;
    margin-bottom: 76px;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    margin-left: 7.64vw;
    margin-right: 2.6vw;
    margin-bottom: 86px;
  }
}

.additional__title {
  .border-bottom-catalog;
  position: relative;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: @basic_black;
  margin: 0;
  padding-bottom: 35px;

  @media (min-width: @tablet-width) {
    width: 708px;
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    padding-left: 9.8vw;
    margin-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    width: 1220px;
    margin: 0;
    margin-right: 55px;
    margin-bottom: 80px;
  }

  &::before {
    position: absolute;
    content: "";
    top: 16px;
    left: 77.3vw;
    width: 11.66vw;
    height: 2px;
    background-color: @basic_green;

    @media (min-width: @tablet-width) {
      min-width: 66.46vw;
      top: 23px;
      left: 25.85vw;
    }
  }

  &::after {
    @media (min-width: @tablet-width) {
      position: absolute;
      content: "";
      top: 22px;
      left: -36.1vw;
      width: 40.95vw;
      height: 2px;
      background-color: #68b738;
    }

    @media (min-width: @desktop-width) {
      width: 4.86vw;
      left: -7.63vw;
      top: 23px;
    }
  }
}

.additional__wrapper-list {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 80px;
  }
}

.additional__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  margin-bottom: 39px;
  padding: 0;

  @media (min-width: @tablet-width) {
    min-width: 708px;
    border: 1px solid @special_grey-1;
    border-bottom: none;
    margin-bottom: 68px;
  }

  @media (min-width: @desktop-width) {
    min-width: 896px;
    border-left: none;
    border-right: none;
    margin: 0;
  }
}

.additional__item {
  .border-bottom-catalog;
  position: relative;
  text-align: center;
  padding-bottom: 17px;
  padding-top: 13px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 91px;
    margin: 0;
    border-bottom: 1px solid @special_grey-1;
    padding: 25px 37px 22px 37px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
    height: 71px;
    padding: 0;
    align-items: baseline;
  }
}

.additional__product {
  font-weight: normal;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  text-transform: uppercase;
  color: @special_dark-grey-2;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 25px;
  }
}

.additional__info {
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 14px;
  color: @special_dark-grey-1;
  margin-bottom: 15px;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  @media (min-width: @desktop-width) {
    justify-content: space-between;
    margin-left: 11px;
  }
}

.additional__text {
  @media (min-width: @desktop-width) {
    text-align: left;
  }
}

.additional__check {
  @media (min-width: @tablet-width) {
    margin-left: 101px;
  }
}

.additional__button {
  width: 280px;
  min-height: 40px;
  cursor: pointer;
  font-size: 16px;

  @media (min-width: @tablet-width) {
    display: flex;
    min-width: 632px;
    align-items: center;
    justify-content: center;
    min-height: 38px;
    height: 38px;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 3px;
  }

  @media (min-width: @desktop-width) {
    min-width: 244px;
    width: 244px;
    min-height: 40px;
    height: 40px;
    grid-column-start: none;
    grid-column-end: none;
  }


  &:hover,
  &:focus {
    .button-hover-focus;
  }

  &:active {
    .button-active;
  }
}
