.button-hover-focus {
  background-color: #5eAA2f;
}
.button-active {
  color: rgba(255, 255, 255, 0.3);
}
.main-menu-hover-focus {
  color: rgba(0, 0, 0, 0.6);
}
.main-menu-active {
  color: rgba(0, 0, 0, 0.3);
}
.advantages {
  min-width: 280px;
  margin-left: 6.25vw;
  margin-right: 6.25vw;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .advantages {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 629px;
    margin-left: 3.91vw;
    margin-bottom: 44px;
  }
}
@media (min-width: 1440px) {
  .advantages {
    display: block;
    margin-left: 7.64vw;
    margin-right: 7.64vw;
    padding: 0;
  }
}
.advantages__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-bottom: 40px;
  margin-left: -55px;
}
@media (min-width: 768px) {
  .advantages__title {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin-left: -298px;
    margin-bottom: 34px;
  }
}
@media (min-width: 1440px) {
  .advantages__title {
    margin-left: 1px;
  }
}
.advantages__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  padding: 0;
  margin: 0 auto;
  max-width: 280px;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 49%;
    row-gap: 37px;
    padding: 0;
    justify-content: flex-end;
    margin-left: 306px;
  }
}
@media (min-width: 1440px) {
  .advantages__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: none;
    justify-content: flex-start;
    column-gap: 5.2vw;
    width: 100%;
    margin: 0;
  }
}
.advantages__item {
  position: relative;
  margin-left: 80px;
  margin-bottom: 26px;
}
@media (min-width: 768px) {
  .advantages__item {
    width: 246px;
    min-height: 130px;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
    padding-top: 150px;
  }
}
@media (min-width: 1440px) {
  .advantages__item {
    width: 250px;
    padding-right: 0;
  }
}
.advantages__item--nutrients::before {
  position: absolute;
  top: -2px;
  left: -80px;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/advantage-leaf@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-resolution: 2dppx) {
  .advantages__item--nutrients::before {
    background-image: url("../img/advantage-leaf@2x.png");
  }
}
@media (min-width: 768px) {
  .advantages__item--nutrients::before {
    width: 80px;
    height: 80px;
    top: 38px;
    left: 0;
  }
}
.advantages__item--nutrients::after {
  display: none;
}
@media (min-width: 768px) {
  .advantages__item--nutrients::after {
    display: block;
    position: absolute;
    top: 0;
    left: 118px;
    content: "1";
    width: 112px;
    height: 280px;
    font-family: "Oswald", "Arial", serif;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    z-index: -1;
  }
}
.advantages__item--flour::before {
  position: absolute;
  top: -2px;
  left: -80px;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/advantage-powder@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-resolution: 2dppx) {
  .advantages__item--flour::before {
    background-image: url("../img/advantage-powder@2x.png");
  }
}
@media (min-width: 768px) {
  .advantages__item--flour::before {
    width: 80px;
    height: 80px;
    top: 38px;
    left: 0;
  }
}
.advantages__item--flour::after {
  display: none;
}
@media (min-width: 768px) {
  .advantages__item--flour::after {
    display: block;
    position: absolute;
    top: 0;
    left: 113px;
    content: "2";
    width: 134px;
    height: 280px;
    font-family: "Oswald", "Arial", serif;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    z-index: -1;
  }
}
.advantages__item--eating::before {
  position: absolute;
  top: -2px;
  left: -80px;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/advantage-dining@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-resolution: 2dppx) {
  .advantages__item--eating::before {
    background-image: url("../img/advantage-dining@2x.png");
  }
}
@media (min-width: 768px) {
  .advantages__item--eating::before {
    width: 80px;
    height: 80px;
    top: 38px;
    left: 0;
  }
}
.advantages__item--eating::after {
  display: none;
}
@media (min-width: 768px) {
  .advantages__item--eating::after {
    display: block;
    position: absolute;
    top: 0;
    left: 113px;
    content: "3";
    width: 134px;
    height: 280px;
    font-family: "Oswald", "Arial", serif;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    z-index: -1;
  }
}
.advantages__item--better::before {
  position: absolute;
  top: -2px;
  left: -80px;
  content: "";
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-image: url("../img/advantage-clock@1x.png");
  background-repeat: no-repeat;
  background-position: center;
}
@media (min-resolution: 2dppx) {
  .advantages__item--better::before {
    background-image: url("../img/advantage-clock@2x.png");
  }
}
@media (min-width: 768px) {
  .advantages__item--better::before {
    width: 80px;
    height: 80px;
    top: 38px;
    left: 0;
  }
}
.advantages__item--better::after {
  display: none;
}
@media (min-width: 768px) {
  .advantages__item--better::after {
    display: block;
    position: absolute;
    top: 0;
    left: 114px;
    content: "4";
    width: 136px;
    height: 280px;
    font-family: "Oswald", "Arial", serif;
    font-weight: normal;
    font-size: 280px;
    line-height: 280px;
    text-align: center;
    color: #f2f2f2;
    z-index: -1;
  }
}
