.button-hover-focus {
  background-color: #5eAA2f;
}
.button-active {
  color: rgba(255, 255, 255, 0.3);
}
.main-menu-hover-focus {
  color: rgba(0, 0, 0, 0.6);
}
.main-menu-active {
  color: rgba(0, 0, 0, 0.3);
}
.cat-habits {
  margin: 0;
  margin-left: 6.25vw;
  margin-bottom: 36px;
  border: none;
  border-top: 2px solid #68b738;
}
@media (min-width: 768px) {
  .cat-habits {
    padding: 0;
    margin: 0;
    margin-bottom: 79px;
  }
}
@media (min-width: 1440px) {
  .cat-habits {
    margin-bottom: 81px;
  }
}
.cat-habits__title {
  margin: 0;
  margin-bottom: 41px;
  padding: 0;
  padding-right: 21px;
  line-height: 10px;
}
@media (min-width: 768px) {
  .cat-habits__title {
    padding-bottom: 10px;
    padding-left: 38px;
    padding-right: 40px;
    margin-left: 3.9vw;
    margin-bottom: 72px;
    line-height: 22px;
  }
}
@media (min-width: 1440px) {
  .cat-habits__title {
    padding-left: 40px;
    padding-right: 41px;
    padding-bottom: 5px;
    margin-bottom: 77px;
    margin-left: 4.89vw;
  }
}
@media (min-width: 768px) {
  .cat-habits__comment {
    margin-left: 9.11vw;
  }
}
@media (min-width: 1440px) {
  .cat-habits__comment {
    margin-left: 7.7vw;
  }
}
.cat-habits__textarea {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  width: 85.5vw;
  height: 133px;
  text-align: center;
  padding-top: 13px;
  resize: none;
}
@media (min-width: 768px) {
  .cat-habits__textarea {
    width: 79.29vw;
    height: 161px;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding-left: 18px;
    padding-top: 9px;
  }
}
@media (min-width: 1440px) {
  .cat-habits__textarea {
    min-width: 1198px;
    width: 83.19vw;
  }
}
