@import "../variables.less";

.cat-data {
  .border-bottom-catalog;
  padding-left: 6.25%;
  padding-right: 6.25%;

  @media (min-width: @tablet-width) {
    padding: 0;
  }
}

.cat-data__name {
  min-width: 280px;
}

.cat-data__label {
  .form-desc;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.cat-data__input {
  .form-desc;
  .input-form;
  padding-left: 15px;

  @media (min-width: @tablet-width) {
    padding-left: 18px;
  }
}

.cat-data__item {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  margin-bottom: 13px;
  column-gap: 14px;


  @media (min-width: @tablet-width) {
    grid-template-columns: max-content auto;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 20px;
  }
}

.cat-data__weight .cat-data__label {
  min-width: 60px;
}

.cat-data__age .cat-data__label {
  min-width: 94px;
}
