.button-hover-focus {
  background-color: #5eAA2f;
}
.button-active {
  color: rgba(255, 255, 255, 0.3);
}
.main-menu-hover-focus {
  color: rgba(0, 0, 0, 0.6);
}
.main-menu-active {
  color: rgba(0, 0, 0, 0.3);
}
.cat-habits {
  margin: 0;
  margin-top: 15px;
  padding-left: 6.25%;
  padding-right: 6.25%;
}
@media (min-width: 768px) {
  .cat-habits {
    padding: 0;
    margin-top: 45px;
  }
}
@media (min-width: 1440px) {
  .cat-habits {
    margin-top: 67px;
  }
}
.cat-habits__title {
  position: relative;
  margin-bottom: 34px;
}
@media (min-width: 768px) {
  .cat-habits__title {
    margin-bottom: 76px;
  }
}
.cat-habits__title::before {
  position: absolute;
  content: "";
  top: 15px;
  left: 44.5vw;
  height: 2px;
  background-color: #68b738;
}
@media (min-width: 768px) {
  .cat-habits__title::before {
    top: 22px;
    left: 28.5vw;
    width: 62vw;
  }
}
@media (min-width: 1440px) {
  .cat-habits__title::before {
    left: 15.4vw;
    width: 77vw;
  }
}
@media (min-width: 768px) {
  .cat-habits__title::after {
    position: absolute;
    content: "";
    top: 22px;
    left: -13.2vw;
    width: 8vw;
    height: 2px;
    background-color: #68b738;
  }
}
@media (min-width: 1440px) {
  .cat-habits__title::after {
    left: -10.8vw;
  }
}
.cat-habits__textarea {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  width: 85.5vw;
  height: 133px;
  text-align: center;
  padding-top: 13px;
}
@media (min-width: 768px) {
  .cat-habits__textarea {
    width: 609px;
    height: 161px;
    font-size: 20px;
    line-height: 30px;
    text-align: left;
    padding-left: 18px;
    padding-top: 9px;
  }
}
@media (min-width: 1440px) {
  .cat-habits__textarea {
    min-width: 1198px;
  }
}
