.button-hover-focus {
  background-color: #5eAA2f;
}
.button-active {
  color: rgba(255, 255, 255, 0.3);
}
.main-menu-hover-focus {
  color: rgba(0, 0, 0, 0.6);
}
.main-menu-active {
  color: rgba(0, 0, 0, 0.3);
}
.invalid {
  border: 2px solid #ff8282;
}
.catalog {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .catalog {
    margin-bottom: 68px;
  }
}
@media (min-width: 1440px) {
  .catalog {
    display: block;
    margin-left: 7.64vw;
    margin-right: 7.64vw;
    margin-bottom: 75px;
  }
}
.catalog__title {
  position: relative;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: #000000;
  text-align: left;
  padding-right: 10vw;
  padding-left: 3vw;
  padding-bottom: 40px;
  margin: 0;
  margin-top: 25px;
}
@media (max-width: 767px) {
  .catalog__title {
    border-bottom: 1px solid #EBEBEB;
  }
}
@media (min-width: 768px) {
  .catalog__title {
    font-size: 60px;
    line-height: 60px;
    padding-left: 3.65vw;
    padding-right: 292px;
    margin-bottom: 124px;
    margin-top: 1px;
  }
}
@media (min-width: 1440px) {
  .catalog__title {
    line-height: 55px;
    padding: 0;
    margin-bottom: 168px;
  }
}
.catalog__list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .catalog__list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 9.25%;
    row-gap: 140.7px;
    text-align: center;
    justify-items: center;
    margin-left: 2vw;
  }
}
@media (min-width: 1440px) {
  .catalog__list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 143px;
    min-width: 1220px;
    margin: 0;
  }
}
.catalog__item {
  position: relative;
  padding-bottom: 24px;
}
@media (max-width: 767px) {
  .catalog__item {
    border-bottom: 1px solid #EBEBEB;
  }
}
@media (min-width: 768px) {
  .catalog__item {
    display: grid;
    grid-template-rows: max-content min-content;
    align-items: center;
    text-align: -webkit-center;
    width: 324px;
    min-height: 406px;
    background-color: #f2f2f2;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .catalog__item {
    width: 245px;
    min-height: 407px;
  }
}
.catalog__item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
}
@media (min-width: 768px) {
  .catalog__item-wrapper {
    display: block;
    margin-top: 112px;
  }
}
@media (min-width: 1440px) {
  .catalog__item-wrapper {
    margin-top: 105px;
  }
}
.catalog__image {
  padding-left: 20px;
  width: 140px;
  height: 144px;
}
@media (min-width: 768px) {
  .catalog__image {
    width: 100%;
    height: auto;
    margin-top: -196px;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .catalog__image {
    margin-top: -193px;
  }
}
.catalog__content {
  display: grid;
  grid-template-rows: min-content min-content;
  justify-items: left;
  min-width: 142px;
}
@media (min-width: 768px) {
  .catalog__content {
    grid-template-rows: min-content min-content;
    justify-items: center;
    align-items: center;
    margin-top: 33px;
  }
}
@media (min-width: 1440px) {
  .catalog__content {
    width: 173px;
    margin-top: 45px;
  }
}
.catalog__item-title {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  padding: 0;
  padding-top: 20px;
  padding-right: 50%;
  margin: 0;
  text-align: left;
}
@media (min-width: 768px) {
  .catalog__item-title {
    width: 150px;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    padding: 0;
  }
}
@media (min-width: 1440px) {
  .catalog__item-title {
    padding-right: 5px;
    margin-top: -7px;
  }
}
.catalog__info {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  color: #444444;
  min-width: 141px;
  margin: 0;
  margin-top: 15px;
  margin-bottom: 20px;
  border-spacing: 0;
}
@media (min-width: 768px) {
  .catalog__info {
    width: 250px;
    font-size: 16px;
    line-height: 16px;
    padding-top: 15px;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .catalog__info {
    width: 180px;
    padding-top: 17px;
  }
}
.catalog__desc {
  display: flex;
  justify-content: space-between;
}
@media (min-width: 768px) {
  .catalog__desc {
    border-bottom: 1px solid #cdcdcd;
    margin-bottom: 2px;
    padding-bottom: 6px;
    padding-top: 5px;
  }
}
@media (min-width: 1440px) {
  .catalog__desc {
    width: 169px;
  }
}
.catalog__subject {
  overflow-wrap: anywhere;
}
.catalog__button {
  width: 280px;
  min-height: 40px;
  cursor: pointer;
  font-size: 16px;
  margin-top: -3px;
}
@media (min-width: 768px) {
  .catalog__button {
    width: 248px;
    min-height: 39px;
    margin-top: 31px;
    margin-left: 3px;
    font-size: 16px;
    line-height: 20px;
  }
}
@media (min-width: 1440px) {
  .catalog__button {
    width: 168px;
    min-height: 40px;
    margin-bottom: 16px;
  }
}
.catalog__button:hover,
.catalog__button:focus {
  background-color: #5eAA2f;
}
.catalog__button:active {
  color: rgba(255, 255, 255, 0.3);
}
