@import "../variables.less";

.cooperation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  min-height: 84px;
  padding-top: 28px;

  @media (min-width: @tablet-width) {
    min-height: 199px;
    align-items: center;
    column-gap: 300px;
    padding-top: 3px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 95px;
    left: -24px;
    width: 570px;
    min-height: 198px;
    background-color: @basic_white;
    column-gap: 10px;
  }
}

.cooperation-catalog-form {
  @media (max-width: @desktop-width - 1px) {
    background-color: @basic_gray;
  }
}

.cooperation__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
  text-transform: uppercase;
  color: @basic-black-2;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 25px;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  @media (min-width: @desktop-width) {
    width: 163px;
    padding-left: 35px;
  }
}

.cooperation__address {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: @special_dark-grey-1;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    margin-top: 4px;
  }

  @media (min-width: @desktop-width) {
    width: 155px;
    text-align: left;
    padding-right: 53px;
  }
}

.cooperation__address br {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;
  }
}
