.cooperation {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  min-height: 95px;
  padding-top: 19px;
}
.cooperation__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-left: 19px;
}
.cooperation__address {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #444444;
  margin: 0;
}
