@import "../variables.less";

.copyright__link {
  position: relative;
  display: flex;
  justify-content: space-between;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: @special_dark-grey-1;
  text-decoration: none;
  margin-left: 6.25%;
  margin-right: 6.25%;
}
