.copyright__link {
  position: relative;
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
  margin-left: 20px;
}
.copyright__link::after {
  position: absolute;
  content: "";
  width: 27px;
  height: 34px;
  top: 0;
  left: 200.75%;
  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
}
