.diet {
  display: flex;
  flex-direction: column;
}
.diet__item {
  position: relative;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 0;
  padding-left: 20px;
  background-color: #f2f2f2;
}
.diet__item--slimming::before {
  position: absolute;
  content: "";
  min-width: 50px;
  min-height: 53px;
  background-image: url("../img/icon-cat-slim.svg");
}
.diet__item--weight::before {
  position: absolute;
  content: "";
  min-width: 67px;
  min-height: 50px;
  background-image: url("../img/icon-cat-pro.svg");
}
.diet__title {
  font-weight: normal;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  margin-left: 91px;
  color: #000000;
}
.diet__desc {
  font-family: "Arial", sans-serif;
  font-style: normal;
  color: #444444;
}
.diet__link {
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
}
.diet__link::before {
  content: "";
  width: 32px;
  height: 10px;
  background-image: url("../../img/icon-right-arrow-long.svg");
}
.diet__link::before:hover {
  background-image: url("../../img/icon-right-arrow-verylong.svg");
}
