@special_grey-4: #eaeaea;
@basic_black: #000000;
@special_dark-grey-1: #444444;
@special_grey-1: #cdcdcd;
@basic_white: #ffffff;
@basic_green: #68b738;

.example {
  background-color: @special_grey-4;
  padding-left: 6.25%;
  padding-right: 6.25%;

  &__title {
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    text-align: left;
    color: @basic_black;
  }

  &__desc {
    font-family: "Arial", sans-serif;
    font-weight: normal;
    color: @special_dark-grey-1;
  }

  &__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  &__info-item {
    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
  }

  &__number {
    font-weight: normal;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: @basic_black;
  }

  &__text {
    font-family: "Arial", sans-serif;
    font-weight: normal;
    font-size: 12px;
    line-height: 12px;
    color: @special_dark-grey-1;
  }

  &__check {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: @basic_black;
  }

  &__text-img {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: @basic_black;
  }

  &__interactive {
    display: flex;
    justify-content: center;
  }

  &__range {
    width: 84px;
    height: 14px;
    background: @basic_white;
    border: 1px solid @special_grey-1;
    box-sizing: border-box;
    border-radius: 6px;
  }

  &__scale {
    width: 35px;
    height: 6px;
    background: @basic_green;
    border-radius: 6px;
    margin-top: 3px;
    margin-left: 6px;
  }
}
