@import "../variables.less";

.example {
  min-height: 678px;
  background-color: @special_grey-4;
  padding-top: 27px;

  @media (min-width: @tablet-width) {
    padding: 0;
    padding-top: 43px;
    background-color: @basic_white;
    border-top: 1px solid @special_grey-5;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 462px;
    border: none;
    padding-top: 0;
    padding-left: 7.64vw;
    padding-right: 5.5vw;
    background-color: @special_grey-4;
    margin-top: 203px;
  }
}

.example__content {
  padding-left: 6.25vw;
  padding-right: 6.25vw;
  margin-bottom: 34px;

  @media (min-width: @tablet-width) {
    padding-left: 3.91vw;
    padding-right: 1.91vw;
    margin-bottom: 81px;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0;
  }
}

.example__title {
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  text-align: left;
  color: @basic_black;
  margin: 0;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    margin-top: -136px;
  }
}

.example__desc {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  color: @special_dark-grey-1;
  margin: 0;
  margin-top: 33px;
  padding-right: 10px;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 64px;
  }

  @media (min-width: @desktop-width) {
    width: 436px;
    margin-top: 147px;
    font-size: 16px;
    line-height: 24px;
  }
}

.example__info-wrapper {
  margin-top: 26px;

  @media (min-width: @tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 53px;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    margin-top: 68px;
  }
}

.example__info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  column-gap: 25px;
  margin: 0;

  @media (min-width: @tablet-width) {
    grid-template-columns: max-content max-content;
    column-gap: 42px;
  }

  @media (min-width: @desktop-width) {
    justify-items: flex-start;
    margin-bottom: 51px;
  }
}

.example__info-item {
  display: grid;
  grid-template-rows: 1fr min-content;
  justify-items: center;
  margin-bottom: 19px;

  @media (min-width: @tablet-width) {
    grid-template-rows: min-content min-content;
    margin: 0;
  }
}

.example__number {
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: @basic_black;
  border: 1px solid @special_grey-1;
  border-radius: 3px;
  padding-top: 12px;
  padding-bottom: 17px;

  @media (min-width: @tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }

  &--kilo {
    padding-left: 39px;
    padding-right: 46px;

    @media (min-width: @tablet-width) {
      padding-left: 56px;
      padding-right: 56px;
      padding-top: 15px;
      padding-bottom: 18px;
    }
  }

  &--days {
    padding-left: 22px;
    padding-right: 20px;

    @media (min-width: @tablet-width) {
      padding-left: 29px;
      padding-right: 29px;
      padding-top: 15px;
      padding-bottom: 18px;
    }
  }
}

.example__text {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  color: @special_dark-grey-1;
  text-align: center;
  background-color: @special_grey-4;
  width: 53px;
  margin-top: -9px;
  padding-right: 19px;
  padding-left: 17px;

  @media (min-width: @tablet-width) {
    min-width: 109px;
    font-size: 14px;
    line-height: 14px;
    background-color: @basic_white;
    padding-right: 2px;
    padding-left: 3px;
  }

  @media (min-width: @desktop-width) {
    background-color: @special_grey-4;
  }

  &--days {
    min-width: 59px;
    padding-left: 15px;
    padding-right: 16px;

    @media (min-width: @tablet-width) {
      min-width: 127px;
      padding-left: 9px;
      padding-right: 9px;
    }
  }
}

.example__check {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    width: 195px;
    font-size: 20px;
    line-height: 28px;
    text-align: right;
    padding-left: 130px;
    padding-top: 8px;
  }

  @media (min-width: @desktop-width) {
    width: max-content;
    padding: 0;
    text-align: left;
  }
}

.example__check-sum {
  @media (min-width: @desktop-width) {
    padding-left: 59px;
  }
}

.example__visual {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 33px;

  @media (min-width: @tablet-width) {
    margin: 0;
    text-align: center;
  }

  @media (min-width: @desktop-width) {
    margin-top: -189px;
  }
}

.example__img-wrapper {
  position: relative;
  min-width: 311px;
  min-height: 232px;
  margin-bottom: 41px;

  @media (min-width: @tablet-width) {
    min-width: 672px;
    min-height: 517px;
    margin-bottom: 37px;
  }

  @media (min-width: @desktop-width) {
    min-width: 681px;
    min-height: 517px;
    margin-bottom: 57px;
    margin-left: -28px;
  }
}

.example__image {
  position: absolute;
  background-size: 690px 517px;
  width: 100%;
  height: 100%;
}

.example__image--before {
  .retina-image("../img/before-mobile@1x.png", "../img/before-mobile@2x.png", 311px, 232px);
  width: 100%;

  @media (min-width: @tablet-width) {
    background-position: 0;
    left: 9px;
    width: 50%;
    .retina-image("../img/before-tablet@1x.png", "../img/before-tablet@2x.png", 690px, 517px);
  }

  @media (min-width: @desktop-width) {
    left: 17px;
    .retina-image("../img/before-desktop@1x.png", "../img/before-desktop@2x.png", 690px, 517px);
  }
}

.example__image--after {
  display: none;
  width: 100%;
  .retina-image("../img/after-mobile@1x.png", "../img/after-mobile@2x.png", 311px, 232px);

  @media (min-width: @tablet-width) {
    display: block;
    background-position: 100%;
    right: -23px;
    width: 50%;
    .retina-image("../img/after-tablet@1x.png", "../img/after-tablet@2x.png", 690px, 517px);
  }

  @media (min-width: @desktop-width) {
    .retina-image("../img/after-desktop@1x.png", "../img/after-desktop@2x.png", 690px, 517px);
  }
}

.example__interactive {
  display: flex;
  justify-content: center;

  @media (min-width: @tablet-width) {
    align-items: flex-end;
    margin-top: -385px;
    min-width: 100%;
    min-height: 383px;
    background-color: @special_grey-4;
    padding-bottom: 79px;
  }

  @media (min-width: @desktop-width) {
    background-color: transparent;
    padding-left: 39px;
  }
}

.example__text-img {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: @basic_black;
  margin-left: 17px;
  margin-right: 12px;
  border: none;
  cursor: pointer;
  background-color: transparent;


  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: -11px;
    margin-left: 7px;
    margin-right: -7px;
    border-bottom: dotted 1px @dotted_color;

    &:hover {
      border-bottom: solid 1px @dotted_color;
    }

    &:active {
      border-bottom: solid 1px transparent;
    }
  }
}

.example__scale-input {
  display: block;
  width: 35px;
  height: 6px;
  appearance: none;
  background: @basic_green;
  border: none;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 3px 5px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    min-width: 428px;
    display: block;
    appearance: none;
    outline: none;
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0 11px 0 33px;
    height: 6px;
    background: @special_grey-1;
    border-radius: 6px;
  }
}

.example__scale-input::-webkit-slider-thumb {
  appearance: none;
  cursor: pointer;
  width: 0;
  height: 0;
  border: none;

  @media (min-width: @tablet-width) {
    width: 34px;
    height: 34px;
    background: @basic_green;
    border: 1px solid @special_grey-1;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: @basic_white 0 0 0 12px inset;
    filter: drop-shadow(0 1px 3px @dotted_color);

    &:hover {
      filter: drop-shadow(0 2px 4px @dotted_color);
    }


    &:active {
      border: solid 1px @basic_green;
    }
  }
}

.example__scale-input::-moz-slider-thumb {
  appearance: none;
  cursor: pointer;
  width: 0;
  height: 0;
  border: none;

  @media (min-width: @tablet-width) {
    width: 34px;
    height: 34px;
    background: @basic_green;
    border: 1px solid @special_grey-1;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: @basic_white 0 0 0 12px inset;
    filter: drop-shadow(0 1px 3px @dotted_color);

    &:hover {
      filter: drop-shadow(0 2px 4px @dotted_color);
    }


    &:active {
      border: solid 1px @basic_green;
    }
  }
}

.example__scale-input::-ms-slider-thumb {
  appearance: none;
  cursor: pointer;
  width: 0;
  height: 0;
  border: none;

  @media (min-width: @tablet-width) {
    width: 34px;
    height: 34px;
    background: @basic_green;
    border: 1px solid @special_grey-1;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: @basic_white 0 0 0 12px inset;
    filter: drop-shadow(0 1px 3px @dotted_color);

    &:hover {
      filter: drop-shadow(0 2px 4px @dotted_color);
    }


    &:active {
      border: solid 1px @basic_green;
    }
  }
}

.example__scale-input::-o-slider-thumb {
  appearance: none;
  cursor: pointer;
  width: 0;
  height: 0;
  border: none;

  @media (min-width: @tablet-width) {
    width: 34px;
    height: 34px;
    background: @basic_green;
    border: 1px solid @special_grey-1;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: @basic_white 0 0 0 12px inset;
    filter: drop-shadow(0 1px 3px @dotted_color);

    &:hover {
      filter: drop-shadow(0 2px 4px @dotted_color);
    }

    &:active {
      border: solid 1px @basic_green;
      filter: drop-shadow(0 2px 4px @dotted_color);
    }
  }
}

.example__range {
  margin-top: 2px;
  margin-left: 6px;
  background: @basic_white;
  border: 1px solid @special_grey-1;
  box-sizing: border-box;
  border-radius: 6px;
  height: 14px;
  min-width: 84px;

  @media (min-width: @tablet-width) {
    height: auto;
    display: flex;
    margin: 0;
    background: none;
    border: none;
  }
}
