@import "../variables.less";

.form {
  display: block;
  margin: 0;
  padding: 0;
  text-align: left;

  @media (min-width: @tablet-width) {
    margin-left: 9.11vw;
    margin-right: 6.5vw;
    margin-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    margin-left: 7.64vw;
    margin-right: 6.45vw;
    margin-bottom: 82px;
  }
}

.form__title {
  display: block;
  font-weight: normal;
  font-size: 36px;
  line-height: 36px;
  color: @basic_black;
  text-align: left;
  padding-left: 6.25vw;
  margin-bottom: 38px;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    padding: 0;
    margin-left: -40px;
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
    margin-bottom: 57px;
    margin-top: -2px;
  }
}

.form__desc {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: @basic_black;
  text-align: left;
  margin-bottom: 10px;
  padding-left: 6.25vw;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding: 0;
    margin-bottom: 63px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 26px;
  }
}

.form__data-diet {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5.56vw;
    margin-bottom: 52px;
  }
}

.form__cat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 281px;
  margin: 0;
  padding: 0;
  margin-top: 36px;
  margin-bottom: 26px;
  border: none;

  @media (min-width: @tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.form__fieldset-title {
  position: relative;
  font-weight: normal;
  font-size: 24px;
  line-height: 26px;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding: 0;
    margin-bottom: 76px;
  }
}

.form__fieldset-title br {
  @media (min-width: @tablet-width) {
    display: none;
  }
}

.form__submit {
  margin-bottom: 32px;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: flex-start;
    margin: 0;
  }

  @media (min-width: @desktop-width) {
    min-width: 568px;
    min-height: 52px;
    column-gap: 1.57vw;
  }
}

.form__button {
  display: block;
  width: 280px;
  min-height: 40px;
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 21px;
  cursor: pointer;

  @media (min-width: @tablet-width) {
    min-width: 282px;
    height: 52px;
    margin: 0;
    font-size: 20px;
  }

  @media (min-width: @desktop-width) {
    min-width: 568px;
    min-height: 52px;
  }

  &:hover,
  &:focus {
    .button-hover-focus;
  }

  &:active {
    .button-active;
  }
}

.form__required-fields {
  font-family: "Arial", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  color: @basic_black;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
    margin-left: 29px;
    margin-bottom: 3px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}
