@import "../variables.less";

.location {
  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.location__cooperation {
  padding-left: 6.25%;
  padding-right: 6.25%;
  margin-top: 35px;

  @media (min-width: @tablet-width) {
    margin-left: 9.3vw;
    margin-right: 7.31vw;
  }
}
