.button-hover-focus {
  background-color: #5eAA2f;
}
.button-active {
  color: rgba(255, 255, 255, 0.3);
}
.main-menu-hover-focus {
  color: rgba(0, 0, 0, 0.6);
}
.main-menu-active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .main-nav {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .main-nav-img {
    min-width: 100%;
    min-height: 694px;
    background-color: #68b738;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .main-nav__wrapper {
    min-width: 483px;
  }
}
.main-nav__list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  margin-top: 13px;
}
@media (min-width: 768px) {
  .main-nav__list {
    min-height: auto;
    margin-top: 15px;
  }
}
@media (min-width: 1440px) {
  .main-nav__list {
    margin-top: 70px;
  }
}
.main-nav--open {
  display: block;
  margin-top: 13px;
}
@media (max-width: 767px) {
  .main-nav--close {
    display: none;
  }
}
