.button-hover-focus {
  background-color: #5eAA2f;
}
.button-active {
  color: rgba(255, 255, 255, 0.3);
}
.main-menu-hover-focus {
  color: rgba(0, 0, 0, 0.6);
}
.main-menu-active {
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 768px) {
  .main-nav {
    margin-right: 3.91%;
  }
}
@media (min-width: 1440px) {
  .main-nav {
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .main-nav-img {
    min-width: 100%;
    min-height: 696px;
    background-color: #68b738;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
    margin: 0;
  }
}
@media (min-width: 1440px) {
  .main-nav__wrapper {
    min-width: 483px;
  }
}
.main-nav__list {
  min-height: 264px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .main-nav__list {
    min-height: auto;
  }
}
