.button-hover-focus {
  background-color: #5eAA2f;
}
.button-active {
  color: rgba(255, 255, 255, 0.3);
}
.main-menu-hover-focus {
  color: rgba(0, 0, 0, 0.6);
}
.main-menu-active {
  color: rgba(0, 0, 0, 0.3);
}
.map__content {
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
}
@media (min-width: 768px) {
  .map__content {
    min-height: 400px;
  }
}
