@basic-black-2: #111111;
@special_dark-grey-1: #444444;

.more {
  min-width: 279px;
  min-height: 158px;
  margin: 0 auto;
  text-align: center;

  &__title {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: @basic-black-2;
  }

  &__desc {
    display: block;
    font-family: "Arial", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
    color: @special_dark-grey-1;
    margin-bottom: 21px;
  }
}
