@import "../variables.less";

.more {
  width: 321px;
  min-height: 158px;
  margin: 0;
  text-align: center;
  padding-top: 26px;

  @media (min-width: @tablet-width) {
    width: 320px;
    display: block;
    background-color: @basic_white;
    border: 2px solid @basic_gray;
    padding-bottom: 19px;
    padding-top: 0;
  }

  @media (min-width: @desktop-width) {
    width: 242px;
    margin: 0;
    padding-bottom: 20px;
  }
}

.more__img {
  @media (min-width: @tablet-width) {
    width: 60px;
    height: 60px;
    margin-top: 51px;
  }
}

.more__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: @basic-black-2;
  margin: 0;
  margin-top: 21px;
  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    width: 134px;
    font-size: 20px;
    line-height: 22px;
    margin: 0 auto;
    margin-top: 46px;
  }
}

.more__desc {
  display: block;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: @special_dark-grey-1;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    width: 167px;
    font-size: 16px;
    line-height: 18px;
    margin: 0 auto;
    margin-top: 23px;
  }
}

.more__button {
  width: 279px;
  min-height: 40px;
  background-color: @basic_gray;
  color: @special_dark-grey-1;
  cursor: pointer;
  font-size: 16px;

  @media (min-width: @tablet-width) {
    width: 249px;
    height: 40px;
    margin: 0 auto;
    font-size: 16px;
    margin-top: 87px;
    line-height: 30px;
  }

  @media (min-width: @desktop-width) {
    width: 169px;
  }

  &:hover,
  &:focus {
    background-color: @special_grey-2;
  }

  &:active {
    .main-menu-active;
    background-color: @special_grey-2;
  }
}
