.more {
  min-width: 279px;
  min-height: 158px;
  margin: 0 auto;
  text-align: center;
}
.more__title {
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
}
.more__desc {
  display: block;
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #444444;
  margin-bottom: 21px;
}
