@import "../variables.less";

.page-header {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 12px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 24px;
    margin-right: 3.91vw;
    margin-left: 3.91vw;
    margin-bottom: 61px;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: start;
    align-items: flex-start;
    margin: 0;
  }
}

.page-header__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;

  @media (min-width: @tablet-width) {
    display: block;
  }

  @media (min-width: @desktop-width) {
    min-width: 610px;
    margin-bottom: 73px;
    padding-left: 7.64vw;
  }
}

.page-header__logo {
  margin-right: 32px;
}

.page-header__text {
  margin-top: 7px;

  @media (min-width: @tablet-width) {
    display: none;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__img {
  @media (min-width: @tablet-width) {
    width: 174px;
    height: 51.68px;
  }

  @media (min-width: @desktop-width) {
    width: 202px;
    height: 59px;
    margin-top: 54px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-header__button {
  position: relative;
  display: block;
  border: none;
  cursor: pointer;
  margin-left: 18px;
  margin-top: 4px;
  width: 24px;
  height: 24px;
  top: -10px;
  padding: 5px;
  box-sizing: content-box;
  background: transparent;

  @media (min-width: @tablet-width) {
    display: none;
  }
}

.page-header__button.page-header__button--close::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: @basic_black;
  width: 24px;
  height: 1.5px;
  box-shadow:
    0 8px 0 0 (@basic_black),
    0 16px 0 0 (@basic_black);
}

.page-header__button.page-header__button--open {
  width: 24px;
  height: 1.5px;
  background-color: @basic_black;
  transform: rotate(45deg);
  box-shadow: none;
  margin-left: 43px;
  margin-bottom: 5px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 1.5px;
    background-color: @basic_black;
    transform: rotate(-90deg);
    box-shadow: none;
  }
}
