@import "../variables.less";

.page-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0;
  min-height: 220px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    background-color: @basic_gray;
    align-items: center;
    min-height: 150px;
    padding-left: 3.91vw;
    padding-right: 1.81vw;
  }

  @media (min-width: @desktop-width) {
    padding-left: 7.64vw;
    padding-right: 6.49vw;
    min-height: 145px;
    padding-top: 6px;
  }
}

.page-footer__social {
  .border-top-menu;
  .border-bottom-catalog;
  padding-top: 21px;
  padding-bottom: 14px;
  padding-right: 9px;
  margin-left: 6.25%;
  margin-right: 6.25%;

  @media (min-width: @tablet-width) {
    min-width: 129px;
    padding: 0;
    margin: 0;
  }
}

.page-footer__logo-name {
  text-align: center;
  margin: 0 auto;
  min-height: 55px;
  padding-top: 41px;

  @media (min-width: @tablet-width) {
    margin: 0;
    padding-top: 24px;
  }

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.page-footer__copyright {
  margin: 0;
  margin-top: 14px;
  height: 64px;

  @media (min-width: @tablet-width) {
    width: 163px;
    margin: 0;
    padding-top: 5px;
  }
}
