@basic_black: #000000;

.site-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;

  &__item a {
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: @basic_black;
  }
}
