.button-hover-focus {
  background-color: #5eAA2f;
}
.button-active {
  color: rgba(255, 255, 255, 0.3);
}
.main-menu-hover-focus {
  color: rgba(0, 0, 0, 0.6);
}
.main-menu-active {
  color: rgba(0, 0, 0, 0.3);
}
.social__list {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (min-width: 768px) {
  .social__list {
    margin-left: 17px;
    margin-bottom: 8px;
  }
}
/*
.social__item {
  @media (min-width: @tablet-width) {
    width: 29px;
    height: 29px;
  }
} */
.social__link:hover {
  fill: #68b738;
}
@media (min-width: 768px) {
  .social__link--vkontakte {
    width: 29.89px;
    height: 18px;
  }
}
.social__link--instagram {
  margin-left: 11vw;
  margin-right: 13vw;
}
@media (min-width: 768px) {
  .social__link--instagram {
    width: 23px;
    height: 23px;
    margin-left: 30px;
    margin-right: 29px;
  }
}
@media (min-width: 768px) {
  .social__link--facebook {
    width: 13.83px;
    height: 30.97px;
  }
}
