.button {
  background-color: #68b738;
  color: #ffffff;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
}
