@basic_green: #68b738;
@basic_white: #ffffff;

.button {
  background-color: @basic_green;
  color: @basic_white;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  outline: none;
  border: none;
}
