// Colors

@basic_white: #ffffff;
@basic_black: #000000;
@basic-black-2: #111111;
@basic_green: #68b738;
@basic_green-2: #5eAA2f;
@basic_gray: #f2f2f2;
@special_grey-1: #cdcdcd;
@special_grey-2: #EBEBEB;
@special_grey-3: #666666;
@special_grey-4: #eaeaea;
@special_grey-5: #E6E6E6;
@special_grey-6: #E7E7E7;
@special_dark-grey-1: #444444;
@special_dark-grey-2: #222222;
@status_error: #ff8282;
@dotted_color: rgba(0, 0, 0, 0.24);

// Viewports

@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 767px;

.border-top-menu() {
  @media (max-width: @tablet-width - 1px) {
    border-top: 1px solid @special_grey-5;
  }
}

.border-bottom-catalog() {
  @media (max-width: @tablet-width - 1px) {
    border-bottom: 1px solid @special_grey-2;
  }
}

.input-form() {
  height: 52px;
  border: 1px solid @special_grey-6;
  box-sizing: border-box;
}

.form-desc() {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: @special_dark-grey-1;
}

.button-hover-focus {
  background-color: @basic_green-2;
}

.button-active {
  color: fade(@basic_white, 30%);
}

.main-menu-hover-focus {
  color: fade(@basic_black, 60%);
}

.main-menu-active {
  color: fade(@basic_black, 30%);
}
